body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #885df1;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  text-align: center;
  font-size: 36px;
  color: #272044;
  line-height: 1.5;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.6;

  margin-left: 4px;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  background-color: #885df1;
  border: none;
  color: white;
  padding: 14px 24px;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
